const {SlashCommandBuilder} = require("discord.js");

module.exports = {
    data: new SlashCommandBuilder().setName("example").setDescription("This is an example command"),

    execute: async (interaction) => {
        await interaction.reply('hi!')
    },

    init: async(client) => {
        console.log('Initialization tasks for example command!')
    }
}